table{
	
	width: 400px;
	height:500px;
    color:#ffffff;
    font-size: 22px;
    background-color: red;
   background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top:;
    margin-left:50px;
    font-family: veranda;

}
table th{

	font-family: georgia;
	font-size: 30px;
	text-align: center;
	padding-left: 150px;

}
table tr td{

	padding-left: 20px;
	padding-right: 20px;
}
form{
	position: fixed;


}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;

}
h1{

	color:#3a414c;
	font-family: oswald;
	font-size: 20px;
	margin-top: 600px
}

